/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

body {
  background: #f0f2f5;
  color: #111;
}

.container {
  max-width: 1180px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #111;
}

ul {
  margin: 0;
  list-style: none;
}

.icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

hr {
  border: none;
}

strong {
  font-weight: 500;
}
/* End reset */

/* Header */
header {
  background-color: #fff;
}
.header-top {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #ededed;
  z-index: 99;
  background-color: #fff;
}

.header-top__cont {
  display: flex;
  height: 52px;
  align-items: center;
}

.header--brand {
  height: 50px;
  width: 112px;
  margin-right: 16px;
}

.header--brand img {
  width: 100%;
  height: 100%;
  padding: 8px 0;
}

.header--list {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: none;
}

.header--list svg {
  height: 20px !important;
  width: 20px !important;
}

.header--search {
  flex: 1;
  position: relative;
  margin: 0 8px;
}

.search-control {
  background: #ededed;
  position: relative;
}

.search-control i {
  font-size: 16px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
}

.search-control input {
  padding-left: 40px;
  font-size: 16px;
  line-height: 40px;
  background: #ededed;
  width: 100%;
  border: none;
}

.search-control input:focus {
  outline: 1px solid #ddd;
}

.header--search .result {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 9;
}

.header--search .result.active {
  display: block !important;
  z-index: 9;
}

.result p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.header--end {
  display: flex;
}

.header--end a {
  margin: 8px;
  padding: 8px;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: #3c3c3c;
}

span.header--icon {
  margin-right: 8px;
}

.header--end svg {
  height: 20px;
  width: 20px;
}

.header-bottom {
  border-bottom: 1px solid #ededed;
  background: #003463;
  padding-top: 52px;
}

.header-bottom--inner {
  display: flex;
  height: 48px;
  align-items: center;
}

.header-bottom--inner ul {
  display: flex;
  align-items: center;
  color: #fff !important;
}

.header-bt__tabs {
  flex: 1;
}

.header-bt__tabs li a {
  color: #fff;
  padding: 4px 0;
  margin-right: 24px;
  font-size: 14px;
  font-weight: 500;
}

.header-bt__info li {
  margin: 8px;
  position: relative;
}

.header-bt__info li a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.header-bt__info li button {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}

.header-bt__info li button span {
  font-size: 14px;
  text-transform: uppercase;
}

.header-bt__info li button span.icon {
  font-size: 24px;
  margin-left: 4px;
}

.header-bt__info li.dropdown {
  position: relative;
}

.header-bt__info li ul {
  position: absolute;
  top: 100%;
  width: 240px;
  right: 0;
  display: none;
  z-index: 9;
}

.header-bt__info li ul li {
  color: #4a4a4a;
  margin: 0;
  padding: 4px 0;
}

.dropdown-content {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  padding: 16px;
}

.header-bt__info li ul li span.icon {
  color: #00d2ff;
}

.header-bt__info li ul li span.drop-item--tel {
  font-size: 14px;
  line-height: 21px;
}

.header-bt__info li ul li h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.active {
  display: block !important;
}

/* End header */

/* Begin Sidebar */

.page {
  display: flex;
}

.sidebar {
  min-width: 0;
  width: 240px;
  margin-right: 16px;
  margin-top: 16px;
  position: sticky;
  top: 68px;
  height: calc(100vh - 52px);
  overflow: auto;
  z-index: 2;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .item {
  margin-bottom: 16px;
}

.sidebar h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 16px;
}

.sidebar ul {
  font-size: 14px;
  line-height: 21px;
}

ul.categories li {
  position: relative;
}

ul.categories li ul {
  margin-left: 4px;
  padding-left: 4px;
  border-left: solid 1px #e5943d;
  font-size: 95%;
  display: none;
}

ul.categories li.active > .children {
  display: block;
}

ul.categories li .cat {
  display: flex;
  align-items: center;
  padding: 4px 0;
  color: #333;
}

ul.categories li .cat > a:hover {
  color: #4682b4;
}

ul.categories li .cat span {
  font-size: 24px;
  height: 24px;
  width: 24px;
  text-align: center;
  margin-left: auto;
}

ul.categories li .cat span:hover {
  background: #4682b4;
  color: #fff !important;
  cursor: pointer;
  transition: all 0.2s;
}

.rotate {
  transform: rotate(90deg);
}

ul.connecting li {
  margin-bottom: 12px;
}

ul.connecting li a {
  display: flex;
  align-items: center;
  text-align: center;
}

ul.connecting li a:hover {
  color: #4682b4;
}

ul.connecting li a .icon {
  font-size: 24px;
  margin-right: 8px;
  color: #475993 !important;
}

ul.connecting li a .icon.icon-youtube {
  color: red !important;
}

ul.other-links li {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

ul.other-links li a:hover {
  color: #4682b4;
}

/* End Sidebar */

/* Begin Main */
.main {
  flex: 1;
  min-width: 0;
  margin-top: 16px;
}

.banner-button-next::after,
.banner-button-prev::after {
  color: #003463;
  font-size: 30px;
  display: none;
  transition: all 0.2s;
}

.swiper-banner:hover .banner-button-next::after,
.swiper-banner:hover .banner-button-prev::after {
  display: block;
  transition: all 0.2s;
}

/* Products */
.block {
  padding-bottom: 16px;
}

.block-header {
  padding-bottom: 16px;
  display: flex;
}

.block-header h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.block-header a {
  margin-left: auto;
  font-size: 14px;
  line-height: 21px;
  color: #005499;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.products li {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.products li:hover {
  box-shadow: 0 1px 6px 1px #bbb;
  transition: all 0.3s ease;
}

@keyframes imgScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
  }
}

.products li:hover .product-img img {
  animation: imgScale 0.5s;
}

.product-img {
  position: relative;
  overflow: hidden;
}

.product-promo {
  position: absolute;
  top: 4px;
  left: 4px;
}

.freeshiping-label {
  position: absolute;
  bottom: 4px;
  left: 0;
  color: #fff;
  padding: 0 8px;
  background: #17cf9c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freeshiping-label.is-fast {
  background: #ff7223;
}

.outofstock {
  position: absolute;
  left: 5px;
  bottom: 10px;
  border: 1px solid #043764;
  background: hsla(0, 0%, 62%, 0.12157);
  color: #043764;
  padding: 2.5px 4px;
  font-size: 12px;
}

.freeshiping-label .icon {
  height: 20px;
  width: 20px;
  z-index: 1;
  margin-right: 4px;
}

.freeshiping-label .text {
  font-size: 12px;
  font-weight: 500;
}

.product-body {
  padding: 8px;
}

.product-body p {
  font-size: 12.8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product-body span {
  font-size: 14px;
  font-weight: 500;
}
/* End Main */

/* Begin Footer */
footer {
  padding: 16px;
  background-color: #fff;
}

.footer-content {
  display: flex;
}

.footer-left {
  width: 58%;
}

.footer-left ul {
  display: flex;
  font-size: 14px;
  line-height: 32px;
}

.footer-left ul li a {
  color: #0385cc;
}

.footer-left ul li a:hover {
  color: #111;
  transition: all 0.3s;
}

.footer-left ul li span {
  margin: 0 4px;
  color: #ccc;
}

.footer-left p {
  font-size: 14px;
  line-height: 21px;
}

.footer-left p > strong {
  font-weight: 500;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-right .dathongbao-img {
  max-width: 180px;
}
/* End Footer */

/* Reponsive */
@media screen and (max-width: 1200px) {
  .header--brand {
    display: none;
  }

  .header--list {
    display: flex;
  }

  .header-bottom {
    display: none;
  }

  .sidebar {
    display: none;
  }
  .main {
    margin-top: 0;
    padding-top: 52px;
  }

  .block-products {
    padding-right: 8px;
    padding-left: 8px;
  }
}

/* Begin Menu Mobile */
.menu-mobile {
  position: fixed;
  left: -300px;
  width: 280px;
  top: 0;
  bottom: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

.menu-mobile.active {
  left: 0;
  transition: all 0.3s ease;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1000;
  width: 280px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22),
    0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

.logo {
  padding: 16px;
  border-bottom: 1px solid #ededed;
}

.logo img {
  width: 130px;
  display: block;
}

._line {
  height: 1px;
  background: #eee;
  margin: 16px 0;
}

.overlay-content h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 16px;
}

.overlay-content ul li {
  padding: 12px 16px;
}

.contact-info ul li {
  padding: 4px 16px;
}

.menu-list li a {
  display: flex;
  text-align: center;
  align-items: center;
}

.menu-list li span.icon {
  font-size: 20px;
  margin-right: 8px;
}

.overlay-content li span {
  font-size: 14px;
}

.contact-info li a {
  display: flex;
  justify-content: space-between;
}

.contact-info li a .text-right {
  font-weight: 500;
}

p.foot {
  padding: 16px;
  background: #f5f5f5;
  color: #666;
  font-size: 12.8px;
  text-align: center;
}

/* End Menu Mobile */

@media screen and (max-width: 768px) {
  .header--end {
    display: none;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content {
    display: block;
  }

  .footer-left {
    width: 100%;
  }
}

/* Begin Page Products */
.base-breadcumb {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  margin-bottom: 8px;
}

.base-breadcumb a {
  color: #707070;
}

.base-breadcumb a:hover {
  color: #3273dc;
}

.base-breadcumb a::after {
  content: "/";
  margin: 0 8px;
  color: #333;
}

h1.page-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 8px;
}

.products-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #eee;
  height: 3rem;
}

.dropdown-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  font-size: 12.8px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.dropdown-filter:hover {
  background: #f0f2f5;
}

.dropdown-filter strong {
  font-weight: 500;
}

.dropdown-filter ul {
  position: absolute;
  top: 100%;
  z-index: 9;
  left: 0;
  width: 190px;
  background: #fff;
  border-radius: 2px;
  padding: 0 8px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  display: none;
}

.dropdown-filter ul.active {
  display: block;
}

.dropdown-filter ul li {
  padding: 8px 48px 8px 16px;
  display: flex;
  align-items: center;
}

.dropdown-filter ul li span {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.dropdown-filter ul li span.active {
  background-color: #000;
}

.dropdown-filter ul li p {
  line-height: 24px;
}

.product-container {
  margin-top: 16px;
}

.see-more {
  margin: 16px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

select#more {
  background: #fff;
  color: #333;
  padding: 8px 16px;
  display: flex;
  border: 1px solid #ccc;
  align-items: center;
  margin-right: 8px;
  font-size: 16px;
  width: auto;
  outline: none;
}

a.next-btn {
  background: #4682b4;
  color: #fff;
  padding: 8px 48px;
  display: flex;
  border: 1px solid #ccc;
  align-items: center;
  margin-right: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

a.next-btn span.fa-angle-right {
  height: 14px;
  width: 14px;
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

/* End Page Products */

/* Begin Page Blog */
.blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 16px;
}

.post {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.post:hover {
  box-shadow: 0 1px 6px 1px #bbb;
  transform: translateY(-2px);
}

.post-top {
  padding-top: 60%;
  position: relative;
}
.post-top img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}

.post-top .post-meta {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  background: #4682b4;
  padding: 2px 8px;
  border-radius: 10px;
}

.post-body {
  padding: 16px;
}

.post-body > h2 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 8px;
}

.post-body > p {
  color: #666666;
  font-size: 14px;
  line-height: 1.5;
}
/* End Page Blog */

/* Begin Page Hệ thống cửa hàng */

.page-content {
  background: #fff;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.store {
  display: flex;
}

.store-info {
  width: 50%;
}

.store-info h2 {
  font-size: 23px;
  line-height: 26px;
  margin-bottom: 16px;
  font-weight: 500;
}

.store-info p {
  font-size: 16px;
  line-height: 1.5;
}

.store-info p a {
  color: #3273dc;
}

.store-info p a:hover {
  color: #111111;
}

.store-map {
  flex: 1;
}

.store-map iframe {
  width: 100%;
}

.page-content hr {
  margin: 24px 0;
  height: 2px;
  background: #f5f5f5;
}

.video {
  margin-top: 32px;
}

.video iframe {
  width: 100%;
}

/* End Page Hệ thống cửa hàng */

/* Page chi tiết sản phẩm */

.product-summary {
  display: flex;
  padding: 16px;
  background: #fff;
  margin-bottom: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.product-objects {
  width: 45%;
  margin-right: 16px;
}

/* Swiper .product-objects */
.swiper-button-next,
.swiper-button-prev {
  color: #4682b4;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 32px;
}

.gallery-thumbs {
  margin-top: 6px;
}

.gallery-thumbs .swiper-slide {
  border: 1px solid #ccc;
}

.gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border-color: #4682b4;
}

/* end */

.product-summary-content {
  flex: 1;
}

.product-summary--line {
  margin-bottom: 8px;
}

.product-summary--line h3 {
  font-size: 19.2px;
  line-height: 1.5;
  font-weight: 400;
}

.product-summary--line p {
  font-size: 14px;
  line-height: 1.5;
  color: #6b7280;
}

.product-offer {
  display: flex;
  justify-content: space-between;
}

.product-offer--main {
  flex: 1;
}

.product-offer--main p.price {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #eb1000;
  margin-bottom: 8px;
}

.product-offer--main p.product-id {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.product-offer--main button {
  margin-bottom: 8px;
  padding: 8px 16px;
  background: #f43e31;
  border-radius: 2px;
}

.product-offer--main button span {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.product-stock-status p.title_header {
  font-size: 14px;
  line-height: 1.5;
  color: green;
  font-weight: 500;
}

.product-stock-status a {
  color: #1d4ed8;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
}

.product-stock-status a .icon {
  width: 16px;
  height: 16px;
  font-size: 8px;
  color: #fff;
  border-radius: 50%;
  background: #1d4de8;
  line-height: 16px;
  margin-right: 8px;
}

.product-status-expanding {
  border-top: 1px solid #eee;
  padding-top: 8px;
  display: none;
}

.product-status-expanding.active {
  display: block;
}

.product-status-expanding ul {
  list-style: square;
  margin-left: 16px;
}

.product-status-expanding ul li {
  font-size: 12.8px;
  line-height: 1.5;
  color: #555555;
}

.product-status-expanding ul li ._title {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #111111;
}

.product-status-expanding ul li ._title strong {
  color: green;
}

p.product-short-description {
  margin: 16px 0 8px;
  font-size: 14px;
  line-height: 1.5;
}

.product-offer--sub table {
  min-width: 180px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  border-collapse: collapse;
}

.product-offer--sub table thead {
  background-color: #000;
  color: #fff;
}

.product-offer--sub table th,
.product-offer--sub table td {
  padding: 3.5px 7px;
  border: 1px solid #dbdbdb;
  width: 50%;
}

.product-promotion h4 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 8px;
}

.product-promotion ul li {
  display: flex;
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid #eee;
  background: #f3f4f6;
  margin-bottom: 8px;
  font-size: 12.8px;
  line-height: 1.5;
}

.product-promotion ul li:hover {
  border-color: #3273dc;
}

.product-promotion ul li img {
  margin-right: 8px;
}

.product-promotion ul li p {
  line-height: 24px;
}

.product-promotion ul li p._text-more {
  font-style: italic;
}

.product-promotion ul li strong {
  color: #3273dc;
}

/* Sản phẩm liên quan */
.section-box {
  padding: 16px;
  background: #fff;
  margin-bottom: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.section-box--title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.product-related-products ul {
  display: flex;
}

.product-related-products ul li {
  width: 128px;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.loadmore {
  width: 100%;
  height: 100%;
  background: #325c81;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  text-align: center;
  margin-right: 0 !important;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.content p > a {
  color: #3273dc;
}

.content p > a:hover {
  color: #111;
}

.content h4,
.content h3 {
  font-size: 21.6px;
  line-height: 1.25;
  font-weight: 500;
  margin-top: 28px;
  margin-bottom: 14px;
}

.content ul{
  list-style: disc;
  margin: 16px 0 16px 32px;
}

.content ul li p {
  margin-bottom: 0;
  margin-top: 4px;
}

.content ul li ul{
  list-style: circle;
  margin-top: 8px;
  margin-bottom: 0;
}

.content ul li ul li a{
  margin-top: 4px;
  line-height: 1.5;
}

.content .video{
  margin-top: 0;
}

.content figure{
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.content figure img{
  max-width: 700px;
}

.content figure figcaption{
  line-height: 1.5;
  font-style: italic;
}

.review-left{
  display: inline-block;
  border: 3px solid #f3f3f3;
  margin-right: 16px;
}

.review-right{
  display: inline-block;
}

/* End chi tiết sản phẩm */

/* Responsive Pages */

@media screen and (max-width: 1200px) {
  .base-breadcumb,
  h1.page-title,
  .products-filter,
  .blog-posts {
    margin-left: 16px;
    margin-right: 16px;
  }

  .store {
    display: block;
  }

  .store-info {
    width: 100%;
  }

  .store-map {
    margin-top: 16px;
  }
}
@media screen and (max-width: 768px) {
  .blog-posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Responsive Pages */
